body {
    font-family: sans-serif;
}

button {
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 100px;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    background-color: lightgray;
    padding: 20px;
}

label {
    margin: 5px;
}

input {
    margin: 5px;
}

select {
    margin: 5px;
}
